{erl_opts, [debug_info]}.
{deps, [gen_smtp,
	self_configer]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [maildir_commander]}
]}.

{relx, [{release, {maildir_commander, "0.0.1"}, [maildir_commander]},
	{dev_mode, true},
        {include_erts, false},
	{include_src, false},
        {extended_start_script, true}]}.
