{erl_opts, [debug_info]}.
{deps, [{iconv, "1.0.12"},
	{gen_smtp, "1.1.1"},
	{self_configer, "0.1.1"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [maildir_commander]}
]}.

{relx, [{release, {maildir_commander, "0.1.1"}, [maildir_commander]},
	{mode, minimal},
        {extended_start_script, true}]}.
